/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #33475b;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.sub_header,
.container_banner,
.container_body {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.horizontal_list {
  display: inline;
  list-style: none;
  margin: 10px;
}

.btn_small {
  border-radius: 5px;
  padding: 5px 10px;
}
.btn_large {
 border-radius: 5px;
 padding: 20px 30px;
}
.btn_orange {
  background-color: #ff5200ba;
  color: white;
}

h2 {
  font-size: 250%;
}
h3 {
  font-size: 150%;
}
/* fine regole generali */
/* inizio header */
/* top_header */
.height_header {
  height: 60px;
}
.fixed_header {
  width: 100%;
  padding: 0 10%;
  background-color: #f5f8fa;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  z-index: 999;
}

.language_header {
  display: inline-block;
  height: 20px;
  padding-right: 20px;
  margin-top: 20px;
  border-right: 1px solid black;
}

.top_header_right,
.sub_header_right {
  float: right;
  margin-top: 20px;
}
#lens {
  color: #0fa6ed;
}
.btn_login {
  background-color: #f3f3f3;
  color: #ff5200ba;
  border: 1px solid #ff5200ba;
}
/* fine top header */
/* sub header */
.sub_header img {
  margin-top: 15px;
}
/* fine sub header */
/* fine header */
/* inizio main */
/* inizio banner */
.banner {
  width: 100%;
  height: 740px;
  background-image: url(../img/jumbotron.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.container_banner {
  position: relative;
}

.text_banner {
  position: absolute;
  top: 100px;
  width: 50%;
  margin: 50px 0 50px;
}
.text_banner h1 {
  font-size: 360%;
}
.text_banner p {
  margin: 20px 0 40px;
  font-size: 110%;
}
.text_banner span {
  display: block;
  margin-top: 40px;
  font-size: 80%;
}
/* fine banner */
/* inizio body */
.body {
  width: 100%;
  background-color: #f5f8fa;
}
/* inizio top body */
.body_top {
  text-align: center;
}
.body_top img {
  width: 400px;
}
.text_top_body {
  width: 60%;
  margin: -50px auto 0;
}
.text_top_body p {
  line-height: 25px;
  padding-top: 25px;
}
/* fine top body */
/* inizio body bottom */
.body_bottom {
  margin-top: 40px;
  border-bottom: 40px solid  #f5f8fa;
}
.body_bottom_container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 11px #d2d2d3;
}

.body_bottom_container h4 {
  font-size: 140%;
  position: relative;
}

.body_bottom_container li {
  margin-left: 0;
}
/* inizio container horizontal */
.body_bottom_container.horizondal {
  width: 100%;
  margin-bottom: 40px;
}
.content_horizondal {
  position: relative;
  padding: 20px 0 60px;
}
.horizondal .left {
  display: inline-block;
  width: 30%;
  text-align: center;
}
.left img {
  position: relative;
  right: 50px;
}
.left a {
  display: block;
  margin: 36px 163px 0 55px;
}
.horizondal .right {
  position: absolute;
  top: 55px;
  left: 300px;
  display: inline-block;
  width: 48%;
}
.content_horizondal .right p {
  margin: 20px 0;
}
.content_horizondal .right h4::after {
  display: block;
  position: absolute;
  left: 200px;
  top: 12px;
  width: 65%;
  height: 1px;
  content: '';
  background-color: #33475b;
}
.right ul {
  margin-top: 20px;
}
/* fine container horizontal */
/* inizio colonne */
.body_bottom_container ul li::before {
  display: inline-block;
  content: '\2713';
  background-color: #ff5200ba;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  font-weight: 900;
  width: 15px;
  height: 15px;
  text-align: center;
}
.body_bottom_container.float {
  float: left;
  width: 30%;
  text-align: center;
  padding: 20px 20px 0;
}
.body_bottom_container.center {
  margin: 0 5%;
}

.body_bottom_container img {
  width: 100%;
  height: 100px;
}
.body_bottom_container.float h3 {
  margin: 20px 0;
}
.body_bottom_container.float h4 {
  margin: 80px 0 20px;
  position: relative;
}
.body_bottom_container.float h4::before {
  display: block;
  position: absolute;
  bottom: 55px;
  left: 5px;
  width: 96%;
  height: 1px;
  content: '';
  background-color: #33475b;
}
.body_bottom_container.float ul {
  list-style: none;
  text-align: left;
}
.body_bottom_container.float a {
  display: block;
  margin: 45px 85px 20px;
}
/* fine colonne */
/* fine body bottom */
/* fine body */
/* inizio middle main */




/* fine middle main */
/* da cancellare */
